.lnb ul{
    display: flex;
    list-style: none;
    gap: 50px; 
}

/* li.active a{ */
a.active{
    color:red; 
    background-color: antiquewhite;
    padding:  10px; 
}

a.bgcolor{
    color:yellow; 
    background-color: blueviolet;
    padding:  10px; 
}